@model Assignment_C1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>I Would Like To See A Particular Teacher</h2>

<h2>@Model.TeacherFname @Model.TeacherLname</h2>
<p>@Model.TeacherId</p>
<p>@Model.TeacherEmpNum</p>
<p>@Model.TeacherHireDate</p>
<p>@Model.TeacherSal</p>

<a href="/Teacher/List">Back to List</a>
<a href="/Teacher/Update/@Model.TeacherId">Update</a>
<a style="color:#ff0000" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete Teacher</a>

